<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/script.js"></script>
</head>

<body>

<form action="/addBook" method="post" th:object="${existingBooks}">
    <table id="existing-book-list">
        <tr th:each="book, rowStat : *{books}">
            <td><input type="text" th:field="*{books[__${rowStat.index}__].title}"/></td>
            <td><input type="text" th:field="*{books[__${rowStat.index}__].author}"/></td>
        </tr>
    </table>
    <input type="button" id="add-book" value="Add book"/>
    <input type="submit" value="Submit"/>
</form>

</body>

</html>